{% load static %}

<!DOCTYPE html>
<html>

<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

<div class="about-image">
<div>
<ul class="navbar">
  <li ><a class="button" href="{% url 'home' %}">Home</a></li>
  <li ><a class="button " href="{% url 'about' %}">About</a></li>
  <li><a class="button  " href="{% url 'contact' %}">Contact</a></li>
  <li><a class="button " href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>&nbsp Log Out</a></li>
</ul>
</div>
<div class="about-head"><h1 style="font-size:55px;">We Care<br> For Your Health</h1>
<p>Entrust Your Health</p>
</div>

</div>
</body>
</html>